/.metadata/
/.recommenders/
/Comm_Adapters/bin/
/Comm_Adapters/build/
/Comm_Adapters/target/
/Hobersal/bin/
/Hobersal/build/
/Hobersal/target/
/InstrumentInterfaces/bin/
/InstrumentInterfaces/build/
/InstrumentInterfaces/target/
/KeithleyInstruments/bin/
/KeithleyInstruments/build/
/KeithleyInstruments/target/
/Thermal_Calibrations_v6/build/
/Thermal_Calibrations_v6/bin/
/Thermal_Calibrations_v6/target/
