<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <Appenders>
        <!-- Simple console logger --> 
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
      
      	<Logger name="ports" level="all" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        
    	<Logger name="communications" level="all" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        
        <Logger name="testing" level="all" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="smus" level="all" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="units" level="all" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="common" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="off">
            <AppenderRef ref="LogToConsole"/>
        </Root>
        
    </Loggers>
</Configuration>